<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <!-- <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" /> -->
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead" style="font-size: 50px">
        Fort Wayne Suzuki Talent Education
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="http://www.fortwaynesuzukistrings.org/" target="_blank">Learn more</a>
      </p>
    </div>
  </div>
  
  <div>
    <h2>Welcome!</h2>
    <p>Our program offers instruction in violin, viola and cello to students age 3 and older.  Besides individual lessons, students participate in weekly group and theory classes.  After mastering the fundamental skills, students participate in Beginning Orchestra.  Students move on to the Intermediate and then Advanced Orchestra as their skills progress. Advanced students also participate in Chamber Music Ensembles and String Choirs.</p>
<!--     <p>This sample application tracks users and articles.</p>
  <ul>
      <li>
        Click
        <em>Sign Up</em> to get started.
      </li>
      <li>
        Configure your app to work with your social accounts, by editing the
        <em>/config/env/*.js</em> files.
      </li>
      <li>
        Edit your users module.
      </li>
      <li>
        Add new CRUD modules.
      </li>
      <li>
        Have fun...
      </li>
    </ul> -->
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2><strong>C</strong>lasses</h2>
      <p><a target="_blank" style="color: #001933" href="http://www.fortwaynesuzukistrings.org/classes.html">Here</a> are our available classes. There are options for all ages and skill levels.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>T</strong>estimonials</h2>
      <p><a target="_blank" style="color: #001933" href="http://www.fortwaynesuzukistrings.org/testimonials.html">Testimonials</a> are updated frequently! Check out our students' stories!</p>
    </div>
    <div class="col-md-3">
      <h2><strong>R</strong>esources</h2>
      <p>You can learn more about us and the Suzuki method on our <a target="_blank" style="color: #001933" href="http://www.fortwaynesuzukistrings.org/resources.html">resource</a> page.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>G</strong>allery</h2>
      <p><a target="_blank" style="color: #001933" href="http://www.fortwaynesuzukistrings.org/current.html">Pictures</a> of our past and current students are featured here.</p>
    </div>
  </div>
  <div class="well">
    <h2>Questions?</h2>
    <p>
  You can contact us by email at music@fakeemail.com or by phone at 000-000-0000.
        <!-- <ul>
         <li><a target="_blank" href="http://meanjs.org/docs.html">MEAN.JS Documentation</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>
				</li> --><!--
        <li><a target="_blank" href="http://meanjs.org/modules.html">Modules</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/changelog.html">Changelog</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/community.html">Community</a>
        </li>
        <li><a target="_blank" href="http://blog.meanjs.org">Blog</a>
        </li>
      </ul> -->
    </p>
  </div>
<!--   <br>Enjoy &amp; Keep Us Updated,
  <br>The MEAN.JS Team. -->
</section>
